<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="panel panel-default">
   <div class="panel-body">
     <div class="form-inputs">
  <div class="form-group">
    <%= f.label :title%><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="form-group">
   <%= f.label :url%><br>
   <%= f.text_field :url, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary"%>
  </div>
</div>
</div>
</div>
<% end %>
