<!DOCTYPE html>
<html>
<head>
  <title>Dimmit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<header class="navbar navbar-default" role="navigation">
	  <div class="container-inner">
	    <div class="container">
	      <div id="logo" class="navbar-brand"><%= link_to "Dimmit", root_path %></div>
	    <div class="collapse navbar-collapse navbar-exl-collapse">
      <% if user_signed_in? %>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Submit link", new_link_path %></li>
			<li><%= link_to "Account", edit_user_registration_path %></li>
			<li><%= link_to "Sign out" , destroy_user_session_path, method: :delete%></li>
		</ul>
	<% else %>
		<ul class="nav navbar-nav pull-right">
			<li><%= link_to "Sign up", new_user_registration_path%></li>
			<li><%= link_to "Sign in", new_user_session_path%></li>
		</ul>
	<% end %>
    </div><!-- /.navbar-collapse -->
	  </div>
	</header>

	<div id ="main_content" class="container">
		<% flash.each do |name, msg|%>
			<%= content_tag(:div, msg, class: "alert alert-#{name}")%>
		<% end %>
		<div id ="content" class="col-md-9 center-block">
			<%= yield %>
		</div>
	</div>

</body>
</html>
